<html lang="en">
<head>
    <link rel="stylesheet" href="/standard.css">
</head>
{% extends 'layout2.html' %}

{% block content %}
<div class="main-content">
    <h1>APPLICATION STATUS</h1>


    <p>Current Status: {{appstatus.get_overall_status()}}</p>
    {% if appstatus.admission_status == 'Incomplete' %}
        {% if appstatus.transcript_received == 'N' %}
            <p>Transcript Not Yet Received</p>
        {% endif %}
        {% if appstatus.letters_pending > 0 %}
            <p>Recommendation Letter(s) Not Yet Received</p>
        {% endif %}
    {% endif %}
    {% if appstatus.ready_to_enroll() %}
        <p>Congratulations! <a href="/applicant/enroll" >Click Here</a> to Enroll with the University!</p>
    {% endif %}

</div>


{% endblock %}

</html>